<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Folha de Pagamento</title>
</head>

<body>
    <h1>FOLHA DE PAGAMENTO</h1>
    <main>
        <section id="caixas-de-texto">
            <div class="caixa-texto">
                <label>Selecione o EMPREGADOR</label>
                <select onblur="listFuncionario(this.value); ocultarConfirm()" name="select-empregador" id="select-empregador">
                    <option selected disabled>Selecione...</option>
                    
                </select>
            </div>
            <div class="caixa-texto">
                <label>Selecione o FUNCIONÁRIO</label>
                <select name="select-funcionario" id="select-funcionario">
                    <option selected disabled>Selecione...</option>
                    
                </select>
            </div>
            <span id="confirm-emissao"></span>
        </section>
        
        <input onclick="controllerIdFuncionario()" type="button" class="botao-action" value="GERAR">
    </main>
    <script src="/script.js"></script>

</body>

</html>